[Unit]
Description=DeviceHub Service
After=network.target pcscd.service
Wants=pcscd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/devicehub/DeviceHub.Service.Api
Restart=on-failure
RestartSec=5
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
